// Глобальные стили

body {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: 14px;
  color: $font-color;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

::-webkit-input-placeholder {
  color: #9d9d9d;
}

::-moz-placeholder {
  color: #9d9d9d;
}

:-moz-placeholder {
  color: #9d9d9d;
}

:-ms-input-placeholder {
  color: #9d9d9d;
}

// @media (min-width: 1300px) {
//   .container {
//     max-width: 1290px;
//   }
// }

// @media (min-width: 1200px) {
//   .container {
//     max-width: 1170px;
//   }
// }

// @media (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }
// }

/* fix footer */

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  width: 100%;
  position: relative;
}

/* /fix footer */

/* preloader */

#page-preloader {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500;
}

.spinner {
  margin: auto;
  width: 75px;
  height: 75px;
  background: transparent;
  border-top: 4px solid $spinner-color;
  border-right: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* /preloader */

/* bootstrap hack: fix content width inside hidden tabs */

.tab-content>.tab-pane,
.pill-content>.pill-pane {
  display: block;
  height: 0;
  overflow: hidden;
}

.tab-content>.active,
.pill-content>.active {
  height: auto;
}

/* bootstrap hack end */

.input-wrap {
  position: relative;
}

*:focus {
  outline: none !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"] {
  box-shadow: none;
  -webkit-appearance: none;
  // border: 0;
}

input.error {
  border: 1px solid $error;
}

.help-block.form-error {
  position: absolute;
  bottom: -18px;
  left: 0;
  font-size: 12px;
  color: $error;
  z-index: 1;
}

// svg {
//   pointer-events: none;
// }


/* gradient */
// &:after {
//   content: '';
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 30px;
//   pointer-events: none;
//   z-index: 1;
//   background: linear-gradient( to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
// }
/* /gradient */

/* owl */

button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #dfdfdf;
  display: block;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
  background: red;
}

.owl-prev {
  position: relative;
  width: 38px;
  height: 38px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;

  &::after {
    content: "<";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  span {
    display: none;
  }
}

.owl-next {
  position: relative;
  width: 38px;
  height: 38px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;

  &::after {
    content: ">";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  span {
    display: none;
  }
}

/* /owl */

/* inputs */
.radio-label {
  position: relative;
}

.input-group {

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }
}

input[type="radio"]+label,
input[type="checkbox"]+label {
  display: flex;
  margin: 0;
  align-items: center;
  cursor: pointer;
  position: relative;
}

input[type="radio"]+label:before {
  content: '';
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 10px;
}

input[type="radio"]:checked+label:after {
  content: '';
  background: $checkbox-color;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  left: 4px;
  top: 5px;
}

input[type="checkbox"]+label:before {
  content: '';
  border: 1px solid #ddd;
  width: 18px;
  height: 18px;
  display: block;
  margin-right: 10px;
}

input[type="checkbox"]:checked+label:before {
  background: $checkbox-color url(../img/checkbox.svg) center no-repeat;
  background-size: 11px 8px;
  border-color: $checkbox-color;
}

/* /inputs*/
