// Глобальные подключения
@import 'variables.scss';
@import 'fonts.scss';
@import 'base.scss';

// Блоки.
@import './src/blocks/header/header.scss';
@import './src/blocks/footer/footer.scss';
@import './src/blocks/svg/svg.scss';
@import './src/blocks/scripts/scripts.scss';
